name: class_attendance_system
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.3.0 # For Local SQL
  path: ^1.9.0
  geolocator: ^13.0.0 # For Geofencing [cite: 13]
  qr_flutter: ^4.1.0 # To generate QR [cite: 128]
  mobile_scanner: ^5.2.3 # To scan QR [cite: 27]
  pdf: ^3.10.8
  printing: ^5.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
